.footer {
    .container {

        background-color: #F7F7F7;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 20px;
        padding: 60px 136px;

    }

    &__socials {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__label {
        display: inline-block;
        margin-top: 20px;
    }
}

.footer__socials .icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #1B1A1A;

}