.home-page {
    &__container {
        display: flex;
        gap: 60px;
        background-color: #ECE7E4;
        padding: 0;
        margin-bottom: 100px;
    }

    &__left {
        flex: 1;
        padding: 130px 100px;
        max-width: 650px;
    }

    &__right {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: auto;
            max-width: 100%;
            height: 720px;
            object-fit: cover;
        }
    }

    &__label {
        font-size: 14px;
        color: #645C55;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__title {
        font-size: 64px;
        margin-bottom: 18px;
        line-height: 70px;
        font-weight: 500;
        font-weight: 400;
        line-height: 70.4px;
        letter-spacing: 0%;
        color: black;

    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        margin-bottom: 30px;

    }

    &__link {
        padding: 0 25px;

        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: black;

    }
}