.process {
    margin-bottom: 100px;

    &__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        font-size: 14px;
        letter-spacing: 2px;
        color: #645C55;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    &__title {
        font-size: 39px;
        color: #1B1A1A;
        margin-bottom: 47px;
        text-align: center;
    }

    @media (max-width: 992px) {
        margin-bottom: 70px;

        &__title {
            font-size: 32px;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 576px) {
        margin-bottom: 50px;

        &__title {
            font-size: 26px;
            margin-bottom: 24px;
        }
    }
}

.conditions {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 285px;
    }

    &__img {
        margin-bottom: 15px;
    }

    &__text {
        text-align: center;
    }

    @media (max-width: 1200px) {
        gap: 50px;
    }

    @media (max-width: 768px) {
        gap: 40px;

        &__option {
            max-width: 100%;
        }
    }
}